@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* 리셋 */
* { margin: 0; padding: 0;}

li { list-style: none;}
a { text-decoration: none; color: inherit;}
img { vertical-align: top;}

body {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}
.wrap {
    width: 96%;
    margin: 0 auto;
    position: relative;
}
ul:after, .wrap:after, .cl:after {
    content: "";
    clear: both;
    display: block;
}
.blined {
    display: none;
    position: absolute;
    left: -9999px;
    overflow: hidden;
    font-size: 0;
    width: 0; height: 0;
}
/* //리셋코드 */


/* common 공통 */
header { height: 80px; background-color: #000; position: relative; }
header .backg { width: 100%; height: 390px; position: absolute; top: 80px; background-color: #333; z-index: 1; display: none; }
header .backg.backon { display: block; }
header h1 { padding-top: 20px;}
header h1 a { display: block; color: #fff; font-size: 18px; font-weight: 700; padding-left: 47px; background: url(../images/gnb_logo.png) no-repeat left center; line-height: 39px;}
header .gnb { position: absolute; top: 0; left: 420px; color: #fff; }
header .gnb > ul > li { float: left; position: relative; }
header .gnb > ul > li:nth-child(9):after { content: ""; display: block; width: 1px; height: 10px; background-color: #fff; position: absolute; top: 35px; right: 0; }
header .gnb > ul > li > a { display: block; line-height: 80px; margin-right: 40px; font-size: 16px; }

#main { position: relative;}
#main .leftsec { width: 280px; height: 100%; float: left; color: #fff; text-align: center; padding: 0 30px; box-sizing: border-box; position: relative;}
#main .leftsec .left_bk { background: #062864; height: 100%; left: 0; position: fixed; top: 0; width: 280px; z-index: -1;}
#main .leftsec h2 { font-size: 20px; padding: 70px 0 20px 0;}
#main .rightsec { width: calc(100% - 280px); float: right; background: #edf0f5; padding: 10px; position: relative; box-sizing: border-box;}
#main .rightsec .srch_tit { text-align: center; }
#main .rightsec .srch_tit h1 { font-size: 34px;}
/* //common */


/* login */
.login {
    width: 410px; height: 530px;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); 
}

.login .tit h1 {
    text-align: center;
    font-size: 24px;
    padding-top: 190px;
    background: url(../images/login_logo.png) no-repeat center top;
}
form .id {
    margin: 50px 0 10px 0;
}
form .id input {
    width: 100%;
    border: 1px solid #99999959;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
}
form .password input {
    width: 100%;
    border: 1px solid #7c7b7b59;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 18px;
}
.user .idrem input[type="checkbox"] {
    width: 0; height: 0;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
}
.user .idrem input[type="checkbox"] + label {
    background: url(../images/chk_off.png) 2px center no-repeat;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 22px;
    padding-left: 30px;
    cursor: pointer;
}
.user .idrem input[type="checkbox"]:checked + label {
    background: url(../images/chk_on.png) 2px no-repeat;
}



.user .findid a {
    position: relative;
}
.user .findid a:nth-of-type(1):after {
    content: "";
    display: inline-block;
    width: 1px; height: 10px;
    background: #999;
    position: absolute;
    right: 0; top: 3px;
}
.user .findid a:nth-of-type(1) {
    padding-right: 10px;
}
.user .findid a:nth-of-type(2) {
    padding-left: 6px;
}

#login {
    border: none;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #291fc0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
}
/* //login */


/* 메인 메뉴 font-weight */
header .gnb > ul > li > a.this {
    font-weight: bold;
}
/* //메인 메뉴 font-weight */

/* li에 hover 됐을때 */
header .gnb > ul > li.bold {
    font-size: 16px;
    font-weight: bold;
}
header .submenu1 > li:hover > a {
    color: #f9cc3d;
}
header .submenu1 li:hover:before {
    background: #f9cc3d;
}
header .submenu2 li:hover a {
    color: #f9cc3d;
}
/* //hover */

header .submenu1 {
    position: absolute;
    top: 118px;
    z-index: 2;
    font-weight: 400;
    display: none;
}
header .submenu1.subon {
    display: block;
}
header .submenu1 > li {
    font-size: 14px;
    padding-left: 8px;
    margin-top: 20px;
    position: relative;
}
header .submenu1 > li:nth-child(1) {
    margin-top: 0;
}
header .submenu1 > li > a {
    transition: 0.3s;
}
header .submenu1 li:before {
    content: "";
    display: block;
    width: 2px; height: 2px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: 10px; left: 0;
    transition: 0.3s;
}
header .submenu2 li {
    margin-top: 14px;
}
header .submenu2 li a{
    font-size: 14px;
    transition: 0.3s;
}
header .submenu2 li:first-child {
    margin-top: 20px;
}
header .timelog {
    color: #fff;
    display: flex;
    position: absolute;
    top: 0; right: 0;
}
header .timelog .time {
    margin-right: 20px;
    line-height: 80px;
}
header .timelog .time span {
    padding: 0 8px;
}
header .timelog .time button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
header .timelog .log > ul > li {
    float: left;
    position: relative;
    padding: 0 14px;
}
header .timelog .log > ul > li > a {
    display: block;
    line-height: 80px;
    font-size: 16px;
}
header .timelog .log > ul > li:nth-child(1):after {
    display: block;
    content: "";
    width: 1px; height: 10px;
    background-color: #fff;
    position: absolute;
    right: 0; top: 0; bottom: 0;
    margin: auto 0;
}
/* //공통 header */

/* 최고관리자_메인 */
#main .leftsec .fcimg {
    width: 120px; height: 120px;
    background: url(../images/admin_pic.jpg) no-repeat center;
    border-radius: 100%;
    margin: 70px auto 30px auto;
}
#main .leftsec dl dt strong {
    font-size: 22px;
}
#main .leftsec dl dd {
    padding-top: 14px;
}
/* rightsec .conut */
.rightsec .count {
    background: #f8cc3c;
}
.rightsec .count ul:after {
    display: none;
}
.rightsec .count ul {
    display: flex;
    align-items: center;
    height: 200px;
}
.rightsec .count ul li {
    width: calc(100% / 4);
    text-align: center;
    position: relative;
}
.rightsec .count ul li:after {
    content: "";
    display: block;
    width: 1px; height: 50px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0; right: 0; bottom: 0;
    margin: auto 0;
}
.rightsec .count ul li:last-child:after {
    display: none;
}
.rightsec .count ul li p {
    font-size: 18px;
    font-weight: 500;
}
.rightsec .count ul li strong {
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.rightsec .count ul li strong i {
    font-style: normal;
}
/* //rightsec .conut */
/* rightsec find */
.rightsec .find {
    margin: 10px 0;
    height: 380px;
    background-color: #fff;
    border: 1px solid #dddfe3;
    box-sizing: border-box;
}
.rightsec .find h2 {
    padding: 34px;
}
.rightsec .find ul {
    display: flex;
}
.rightsec .find ul li {
    width: calc(100% / 4);
    text-align: center;
    position: relative;
    padding: 0 34px;
}
.rightsec .find ul li h3 {
    display: inline-block;
    padding: 0 10px;
    background: #fff0c0;
}
.rightsec .find .numbox {
    margin: 34px 0;
}
.rightsec .find .num {
    display: inline-block;
    padding: 0 10px;
}
.rightsec .find .num p {
    font-weight: 500;
}
.rightsec .find .num span {
    font-size: 30px;
    font-weight: bold;
}
.rightsec .find .num i {
    font-size: 20px;
    font-style: normal;
}
.rightsec .find ul li .gauge {
    text-align: left;
}
.rightsec .find ul li .gauge .gaugebar {
    width: 100%; height: 10px;
    background-color: #efefef;
    margin-bottom: 12px;
    border-radius: 8px;
    position: relative;
}
.rightsec .find ul li .gauge .gaugebar:after {
    content: "";
    display: block;
    width: 0;
    height: 10px;
    border-radius: 8px;
    background-color: #f8cc3c;
    position: absolute;
    left: 0;
    transition: 2s;
}
.rightsec .find ul li:nth-child(1) .gauge .gaugebar.gon1:after {
    width: 60%;
}
.rightsec .find ul li:nth-child(2) .gauge .gaugebar.gon1:after {
    width: 65%;
}
.rightsec .find ul li:nth-child(3) .gauge .gaugebar.gon1:after {
    width: 30%;
}
.rightsec .find ul li:nth-child(4) .gauge .gaugebar.gon1:after {
    width: 80%;
}
.rightsec .find ul li .gauge span {
    color: #f8cc3c;
}
.rightsec .find ul li .gauge i {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}
/* //rightsec find */
/* rightsec info */
.rightsec .fb {
    display: flex;
    justify-content: space-between;
}
.rightsec .info {
    width: calc(50% - 5px); height: 280px;
    background-color: #fff;
    border: 1px solid #dddfe3;
    box-sizing: border-box;
    padding: 34px;
}
.rightsec .info h2 {
    margin-bottom: 34px;
}
.rightsec .info ul li {
    margin-top: 12px;
    position: relative;
}
.rightsec .info ul li:first-child {
    padding-top: 0;
}
.rightsec .info ul li span {
    position: absolute;
    right: 0; top: 0; bottom: 0;
    margin: auto 0;
    font-size: 14px;
    color: #b1b1b1;
}

/* //right info */
/* //메인 페이지 (mainpage) 완료 */














/* 실종수색 현황 (list.html) */

/* .srch_tit */
.rightsec select {
    -moz-appearance:none; /* Firefox */ 
    -webkit-appearance:none; /* Safari and Chrome */ 
    appearance:none;
    background: url(../images/select_arrow.png) no-repeat;
    background-position: 86% 50%;
    outline: none;
  }
.rightsec .srch_tit form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.rightsec .srch_tit form select {
    width: 180px;
    border: 1px solid #c9c9c9;
    border-right: 0;
    cursor: pointer;
    background-color: #fff;
}
.rightsec .srch_tit form input {
    width: 490px;
    border: 1px solid #c9c9c9;
}
.rightsec .srch_tit form button {
    width: 60px;
    background: #062864 url(../images/icon_search.png) no-repeat;
    background-position: 50% 50%;
    border: 0;
    cursor: pointer;
}
.rightsec .srch_tit form .pd {
    padding: 20px 24px;
    outline: none;
}
/* //.srch_tit */

/* list */
.rightsec .list {
    margin-top: 84px;
    background-color: #fff;
    position: relative;
}
.rightsec .list table {
    width: 100%;
    text-align: center;
    border: 1px solid #dddfe3;
    border-bottom: 0;
    border-collapse: collapse;
    
}
.rightsec .list table th,td {
    border-bottom: 1px solid #dddfe3;
    padding: 24px 0;
}
.rightsec .list table td {
    color: #7e7e7e;
}
/* 신청 태그 */
.rightsec .list table tr .apc {
    display: inline-block;
    width: 82px; line-height: 38px;
    background-color: #062864;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.rightsec .list table tr .wait {
    display: inline-block;
    width: 82px; line-height: 38px;
    background-color: transparent;
    color: #062864;
    border: 1px solid #062864;
    font-size: 14px;
    font-weight: bold;
}
.rightsec .list table tr .ptp {
    display: inline-block;
    width: 82px; line-height: 38px;
    background-color: #f8cc3c;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.rightsec .list table tr .apct {
    display: inline-block;
    width: 82px; line-height: 38px;
    background-color: #b4bed0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
/* //신청태그 */
/* //list */

/* number_list */
.rightsec .number_list {
    height: 90px;
    position: relative;
}
.rightsec .number_list .num {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.rightsec .number_list .num .btn_prev, .btn_next {
    display: inline-block;
    width: 22px; height: 22px;
}
.rightsec .number_list .num .btn_prev {
    background: url(../images/pager_btn_prev.png) no-repeat;
    margin-right: 18px;
}
.rightsec .number_list .num .btn_next {
    background: url(../images/pager_btn_next.png) no-repeat;
}
.rightsec .number_list .num ul li {
    float: left;
    margin-right: 18px;
}

/* //number_list */
/* //실종수색 현황 (list.html) */



nth


/* 실종자수색 현황 page. */
#main .leftsec h2 {
    margin-top: 60px;
    margin-bottom: 24px;
}
#main .leftsec > ul > li {
    padding: 20px 0;
    border-top: 1px solid #fff;
    position: relative;
    text-align: left;
    font-size: 16px;
}
#main .leftsec  ul  li a.tbold {
    font-weight: bold;
}
#main .leftsec > ul > li a:hover {
    font-weight: bold;
}
#main .leftsec > ul > li:after {
    content: "";
    display: block;
    width: 7px; height: 13px; 
    background: url(../images/lnb_arrow.png) no-repeat;
    position: absolute; 
    top: 26px; right: 12px;
    transition: all 0.3s;
}
#main .leftsec > ul > li:hover:after {
    transform: rotate(90deg);
}
#main .leftsec > ul > li:last-child {
    border-bottom: 1px solid #fff;
}
#main .leftsec > ul > li .acd {
    display: none;
}
#main .leftsec > ul > li .acd li {
    margin-top: 12px;
}

/* rightsec 실종수색현황*/
#main .rightsec .srch_tit {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 65px 0 80px;
}
#main .rightsec .srch_tit figure {
    width: 186px; height: 186px;
    margin: 0 auto;
}
#main .rightsec .user_intp {
    position: relative;
}
#main .rightsec .user_intp .pers, #main .rightsec .user_intp .stime {
    display: inline-block;
}
#main .rightsec .user_intp .pers .gbar {
    width: 200px; height: 12px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    display: inline-block;
}
#main .rightsec .user_intp .pers .gbar:after {
    content: "";
    display: block;
    width: 30%; height: 12px;
    background-color: #f7cd3b;
    border-radius: 12px;
}
#main .rightsec .user_intp .pers span {
    margin-left: 12px;
    color: #f7cd3b;
    font-size: 18px;
}
#main .rightsec .user_intp .pers span strong {
    font-size: 32px;
    font-weight: bold;
}
#main .rightsec .user_intp .stime span {
    color: #000;
    font-size: 18px;
    padding-left: 30px;
}
#main .rightsec .user_intp .stime span strong {
    font-size: 32px;
    font-weight: bold;
}
#main .rightsec .user_intp .save_prt {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    margin: auto 0;
    font-size: 18px;
}
#main .rightsec .user_intp .save_prt .save, .prt {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 24px;
    background: #fff;
}
#main .rightsec .map {
    width: 100%; height: 700px;
    background: #000;
    margin-top: 16px;
}
/* //실종자수색 현황 page. */

/* 실종사건정보 */
#main .rightsec .srch_tit {
    text-align: center;
}
#main .rightsec .srch_tit h1 {
    font-size: 34px;
    padding-bottom: 40px;
}
#main .rightsec .srch_tit figure {
    width: 184px; height: 184px;
    margin: 30px auto 24px auto;
}
#main .rightsec .srch_tit figure img {
    border-radius: 100%;
    width: 100%; height: 100%;
}
#main .rightsec .srch_tit dl {
    font-size: 18px;
    font-weight: 400;
}
#main .rightsec .srch_tit dl dt {
    font-size: 28px;
}
#main .rightsec .user_data {
    display: flex;
    text-align: center;
    margin-top: 50px;
}
#main .rightsec .user_data dl {
    position: relative;
    width: calc(100% / 7);
}
#main .rightsec .user_data dl:after {
    content: "";
    display: block;
    width: 1px; height: 27px;
    background-color: #cfd1d5;
    position: absolute;
    right: 0; top: 6px;
}
#main .rightsec .user_data dl:last-child::after {
    display: none;
}
#main .rightsec .user_data dl dt {
    font-size: 18px;
    font-weight: 900;
}
#main .rightsec .user_data dl dd {
    font-size: 16px;
    font-weight: 400;
}
#main .rightsec .pict {
    padding: 0 30px;
    background-color: #fff;
    margin-top: 50px;
}
#main .rightsec .pict h2 {
    padding: 50px 0;
}
#main .rightsec .pict .slide_box { margin: 38px auto 0; position: relative; width: 1260px;}
#main .rightsec .pict .slide_box .inner { width: 100%; height: 100%; overflow: hidden;}
#main .rightsec .pict .swiper-wrapper .swiper-slide { width: 300px; height: 210px; margin-right: 20px;}
.slide_box .swiper-button-next, .slide_box .swiper-button-prev { 
    width: 32px; height: 64px; position: absolute; top: 50%;
}
.slide_box .swiper-button-next:after, .slide_box .swiper-button-prev:after { display: none;}
.slide_box .swiper-button-next {background: url(../images/pic_slide_arrow_r.png) no-repeat; right: -50px;}
.slide_box .swiper-button-prev {background: url(../images/pic_slide_arrow_l.png) no-repeat; left: -50px;}

/* 수색신청관리 */
.rightsec .list .ch_com {
    position: absolute;
    top: -60px; right: 0;
}
.rightsec .list .ch_com a {
    display: block;
    padding: 12px 30px;
    background-color: #062864;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.rightsec .list .tbl_top_btn {
    position: absolute;
    top: -48px; right: 0;
}
.rightsec .list .tbl_top_btn > .btn {
    display: inline-block;
    width: 145px; line-height: 38px;
    background-color: #062864;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}





/* //수색신청관리 */








/* 일반수색자관리 */

/* //일반수색자관리 */












/* 7일반수색자관리_상세 */
#main .rightsec .srch_info {
    width: 580px;
    padding: 60px;
    box-sizing: border-box;
    margin: 0 auto;
}
/* //7일반수색자관리_상세 */


/* 8보고사항관리 */
.rightsec .list .tbl_btn {
    position: absolute;
    top: -52px; left: 0;
}
.rightsec .list .tbl_btn select {
    width: 120px; line-height: 40px;
    padding-left: 20px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
}
.rightsec .list table tr td.name {
    font-weight: bold;
    color: #333;
}
.rightsec .list table tr td .app {
    display: inline-block;
    width: 82px; line-height: 38px;
    background-color: transparent;
    color: #062864;
    border: 1px solid #062864;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
}
.rightsec .list table tr td .app.on {
    display: inline-block;
    width: 82px; line-height: 38px;
    background-color: #f8cc3c;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #f8cc3c;
}
.rightsec .list table input[type="checkbox"] {
    position: absolute;
    width: 0; height: 0;
    top: 0; left: 0;
    opacity: 0;
}
.rightsec .list table input[type="checkbox"] + label {
    background: url(../images/chk_off.jpg) no-repeat;
    display: inline-block;
    width: 18px; height: 18px;
    text-indent: -9999px;
    overflow: hidden;
}
.rightsec .list table input[type="checkbox"]:checked + label {
    background: url(../images/chk_on.jpg) no-repeat;
}

/* //8보고사항관리 */

/* 팝업창 */
.layer_back { display: none; position: fixed; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 1;}
.confirm_layer { display: none; position: fixed; width: 416px; padding: 60px; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 2; background: #fff; text-align: center;}
.confirm_layer .confirm_btn { margin-top: 28px;}
.confirm_layer .confirm_btn a { display: inline-block; width: 120px; line-height: 40px; margin-right: 10px; border: 1px solid #062864; color: #062864s; font-weight: bold;}
.confirm_layer .confirm_btn .confirm { background-color: #062864; color: #fff;}



/* 실종수색사건관리 */
#main .rightsec .srch_tit fieldset { display: flex; justify-content: center; border: none;}
#main .rightsec .srch_tit .filter_tab { font-size: 0; text-align: center; margin-bottom: 36px;}
#main .rightsec .srch_tit .filter_tab a { font-size: 20px; font-weight: 500; display: inline-block; margin: 0 14px;}
#main .rightsec .srch_tit .filter_tab a.on { font-weight: 800; border-bottom: 3px solid #333;}
#main .rightsec .srch_tit .filter_tab a:hover { font-weight: 800; border-bottom: 3px solid #333;}
#main .rightsec .srch_tit fieldset .datepicker { display: flex; width: 278px; height: 58px; margin-right: 6px; border: 1px solid #dddfe3; background: #fff;}
#main .rightsec .srch_tit fieldset .datepicker .date_op { width: 50%; height: 58px; padding-left: 44px; position: relative;}
#main .rightsec .srch_tit fieldset .datepicker .date_op p { position: absolute; font-size: 14px; top: 19px; right: 0;}
#main .rightsec .srch_tit fieldset .datepicker .date_op input { vertical-align: top; border: 0; height: 100%; text-align: right; width: 76px;}
#main .rightsec fieldset select { background-color: #fff; width: 180px; height: 60px; padding-left: 20px; box-sizing: border-box; border: 1px solid #dddfe3}
#main .rightsec fieldset .pd { box-sizing: border-box; border: 1px solid #dddfe3}
#main .rightsec fieldset .srch_box_wrap { position: relative; width: 548px; text-align: left;}
#main .rightsec fieldset .srch_box_wrap input { width: 488px; height: 60px; vertical-align: top; border-left: 0; box-sizing: border-box; padding: 0 20px;}
#main .rightsec fieldset .srch_box_wrap .srch_btn { position: absolute; top: 0; right: 0; display: block; width: 60px; height: 60px; background: url(../images/icon_search.png) no-repeat center #062864;}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
    background: url(../images/arrow_calr_l.png) center no-repeat;
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
    background: url(../images/arrow_calr_r.png) center no-repeat;
}
.date_op img {
    left: 20px; margin-top: -11px; position: absolute; top: 50%;
}
#main .rightsec .srch_tit fieldset 


/* 데이터 피커 스킨 */

/* 데이터 피커 스킨 end*/


/* 실종수색정보수정 */
.list_input_wrap {
    background: #fff;
    border: 1px solid #dddfe3;
    border-radius: 8px;
    height: auto;
    margin: -30px auto 0;
    overflow: hidden;
    padding: 25px 0 50px;
    position: relative;
    width: 680px;
}
.list_input_wrap:before {
    content: "";
    width: 193px; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: #f8f9fb;
}

.list_input_wrap dl { height: 60px; position: relative; display: flex;}
.list_input_wrap dl dt { width: 193px; line-height: 60px; color: #333; padding: 0 30px; box-sizing: border-box;}
.list_input_wrap dl dd { width: calc(100% - 193px); box-sizing: border-box; padding: 0 30px; position: relative;}
.list_input_wrap .dd_inner { border: 1px solid #dddfe3; box-sizing: border-box; height: 60px; position: relative;}
.list_input_wrap .dd_inner.bno { border-bottom: 0;}
.list_input_wrap .dd_inner input {
    border: 0;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    padding: 0 20px;
    width: calc(100% - 88px);
    box-sizing: border-box;
}
.list_input_wrap .dd_inner input.pull { width: 100%;}
.list_input_wrap dl dd p { padding-left: 20px; line-height: 60px; font-weight: 700;}
.list_input_wrap dl dd .btn_srch_again { width: 80px; line-height: 30px; font-weight: 500; background: #ff771c; color: #fff; display: block; text-align: center; border-radius: 15px; position: absolute; right: 30px; top: 15px;}

.list_input_wrap .dd_inner .btn_pick_upload { position: absolute; top: 15px; right: 40px;}
.list_input_wrap .dd_inner .btn_pick_upload input { width: 0; height: 0; position: absolute; top: 0; left: 0; opacity: 0;}
.list_input_wrap .dd_inner .btn_pick_upload label { display: block; width: 80px; line-height: 30px; background: #062864; border-radius: 15px; text-align: center; color: #fff; cursor: pointer;}

/* qut 공지사항 */
.srch_main { padding: 25px 0 50px; border: 1px solid #dddfe3; border-radius: 8px; height: auto; background: #fff; width: 680px; position: relative; margin: -30px auto 0;}
.srch_main:before { content: ""; display: block; width: 193px; height: 100%; background: #f8f9fb; border-radius: 8px; position: absolute; top: 0; left: 0;}
.srch_main dl { display: flex; position: relative;}
.srch_main dl dt { width: 193px; line-height: 60px; padding-left: 30px; box-sizing: border-box;}
.srch_main dl dd { width: calc(100% - 193px); padding: 0 30px; box-sizing: border-box;}
.srch_main dl dd input { border: 1px solid #dddfe3; width: 100%; height: 60px; padding: 0 20px; box-sizing: border-box;}
.srch_main dl:nth-child(1) { margin-bottom: 10px;}
.srch_main dl:nth-child(2) { margin-bottom: 30px;}
.srch_main dl dd textarea { color: #333; box-sizing: border-box; width: 100%; height: 232px; padding: 20px; resize: none; border: 1px solid #dddfe3;}
.srch_main dl dt.chf { line-height: 44px; height: 44px;}
.srch_main dl dd p { width: 205px; height: 44px;}
.srch_main dl dd p input { position: absolute; top: 0; left: 0; width: 0; height: 0; opacity: 0;}
.srch_main dl dd p label { display: inline-block; width: 100%; line-height: 42px; border: 1px solid #062864; text-align: right; padding: 0 18px; box-sizing: border-box; background: url(../images/btn_file_add.png) no-repeat 18px center;}
.srch_main dl dd ul li { height: 28px; position: relative; border: 1px solid #dddfe3; border-bottom: 0; display: flex;}
.srch_main dl dd ul li:nth-child(3) { border-bottom: 1px solid #dddfe3;}
.srch_main dl dd ul li span { width: calc(100% - 105px); padding: 0 20px; box-sizing: border-box;}
.srch_main dl dd ul li .vol { width: 105px; padding: 0;}
.srch_main dl dd ul li a { display: block; width: 16px; height: 16px; background: url(../images/btn_file_del.png) no-repeat; position: absolute; top: 0; right: 0;}

/* 퍼블1101 */
#main .rightsec fieldset .inst_name { border: 1px solid #dddfe3; padding: 0 20px 0 45px; background: url(../images/icon_search_g.png) 20px center no-repeat #fff; width: 180px; box-sizing: border-box; border-right: 0;}
#main .rightsec .list .tab_top_btn { position: absolute; right: 0; top: -48px;}
#main .rightsec .list .tab_top_btn a { display: block; width: 140px; line-height: 38px; background: #062864; color: #fff; text-align: center; }












